project:
  type: website
  output-dir: docs

website:
  title: "Kundan Kumar"
  description: "Research Scientist"
  site-url: https://kundan-kumarr.github.io
  favicon: misc/info/favicon.png
  repo-url: https://github.com/kundan-kumarr/kundan-kumarr.github.io
  repo-actions: [edit, issue]
  page-navigation: true

  page-footer:  
    left: >-
      &#169; 2025 Kundan Kumar &#8729; Made with <a href="https://quarto.org" target="_blank">Quarto</a>
    center: |
      <a class="link-dark me-2" href="https://linkedin.com/in/kundan-kumarr" title="LinkedIn" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
      <a class="link-dark me-2" href="https://github.com/kundan-kumarr" title="GitHub" target="_blank" rel="noopener"><i class="fab fa-github"></i></a>
      <a class="link-dark me-2" href="https://orcid.org/0000-0002-3229-6649" title="ORCID" target="_blank" rel="noopener"><i class="ai ai-orcid"></i></a>
      <a class="link-dark me-2" href="https://scholar.google.com/citations?user=1zDpIJkAAAAJ" title="Google Scholar" target="_blank" rel="noopener"><i class="ai ai-google-scholar"></i></a>
      <a class="link-dark me-2" href="mailto:cs.kundann@gmail.com" title="Email" target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
    right: 
      - text: "Contact"
        aria-label: "Contact Form"
        href: contact.qmd

  navbar: 
    background: "#A9CCE3"
    search: true
    right: 
      - text: About
        icon: person-circle
        href: about_me.qmd
      - text: CV
        icon: file-earmark-text-fill
        href: cv.qmd
      - text: "Research"
        icon: lightbulb-fill
        href: rpkg/research.qmd
      - text: "Projects"
        icon: puzzle-fill
        menu:
          - text: "✨ All Projects"
            href: projects.qmd
          - text: "---"
          - text: "Large Language Models"
            href: https://kundan-kumarr.github.io/Zero2LLM-Crafter/
          - text: "Deep Reinforcement Learning"
            href: drl.qmd
          - text: "Deep/Machine Learning"
            href: https://kundan-kumarr.github.io/ai-analysis/
          - text: "Statistics"
            href: https://kundan-kumarr.github.io/statsphere/
          - text: "Computer Vision"
            href: llms.qmd
          - text: "Robotics"
            href: robo.qmd
      - text: "Teaching"
        icon: mortarboard-fill
        href: teaching/teaching.qmd
      - text: "Blogs"
        icon: pen-fill
        href: blog/index.qmd

  google-analytics:
    tracking-id: "G-F9QK4C80G"   # ✅ Add your GA4 ID here
    anonymize-ip: true

format:
  html:
    theme: styles.scss
    math: mathjax
    html-math-method: mathjax
    toc: true
    toc-depth: 3
    smooth-scroll: true
    include-in-header:
      - text: |
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

bibliography: references.bib
filters:
  - custom-bib-links.lua
